<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comp90017.teamA.assignment"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!-- Permission - Internet Connect -->
    <uses-permission android:name="android.permission.INTERNET" />
     
    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.comp90017.teamA.assignment.LaunchActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.comp90017.teamA.assignment.Emitter.EmitterActivity"
            android:label="@string/title_activity_emitter"
            android:parentActivityName="com.comp90017.teamA.assignment.LaunchActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comp90017.teamA.assignment.LaunchActivity" />
        </activity>
        <activity
            android:name="com.comp90017.teamA.assignment.Listener.ListenerActivity"
            android:label="@string/title_activity_listener"
            android:parentActivityName="com.comp90017.teamA.assignment.LaunchActivity" >
        </activity>
        <activity
            android:name="com.comp90017.teamA.assignment.Graph.GraphActivity"
            android:label="@string/title_activity_graph" >
        </activity>
    </application>

</manifest>
